body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  max-width: 960px;
  padding-left: 40px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  margin: 0 0 40px 0;
}

section {
  overflow: hidden;
  margin: 0 0 60px 0;
}

.natural {
  padding-right: 260px;
  position: relative;
}

.natural h2 {
  font-size: 48px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 360px;
  font-weight: 700;
}

.one-thing {
  padding-left: 360px;
  position: relative;
}

.one-thing .copy {
  position: absolute;
  top: 50px;
  left: 0;
  width: 480px;
}
section.onething img {
  float: right;
  width: 600px;
}

section.onething h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

section.onething p {
  font-size: 26px;
  font-weight: 100;
}

section.lookbook {
  background-image: url(image_3.jpg);
  background-size: cover;
  background-position: center;

  text-align: center;
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;

  height: 540px;
  padding: 250px 0 0 0;
}

section img {
  position: relative;
  z-index: -1;
  transition: all 1s;
}

section:hover img {
  transform: scale(0.8) rotate(5deg);
  opacity: 0.75;
}

div.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  background-image: url(menu-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

div.slideout {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #f8cede;
  transition: left 1s;
}

div.hamburger:hover div.slideout {
  left: 0;
}

nav {
  position: absolute;
  top: 50%;
  left: 150px;
  width: 200px;
  transform: translateX(-50%) translateY(-50%);
}

nav a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}
